html, body {
    margin: 0;
    padding: 0;
}

.root {
}

.game-container {
    display: none;
    width: 100%;
    height: 100%;
}

.emscripten_border {
    position: fixed;
    top: 0;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten {
    display: block;
    border: 0 none;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#joystick-zone {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 165px;
    height: 165px;
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 50%;
    z-index: 1000;
}

#weapon-joystick-zone {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 165px;
    height: 165px;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 50%;
    z-index: 1000;
}

@media (pointer: coarse) {
    #joystick-zone,
    #weapon-joystick-zone {
        display: block;
    }
}

@media (max-aspect-ratio: 1/1) {
    #joystick-zone,
    #weapon-joystick-zone {
        width: 120px;
        height: 120px;
        bottom: 15px;
    }

    #joystick-zone {
        left: 15px;
    }

    #weapon-joystick-zone {
        right: 15px;
    }
}

.game-tile-hover:hover {
    border-color: var(--mantine-color-blue-3) !important;
}